<h1 class="welcome-title">WELCOME TO FITNESS360</h1>
<div class="row justify-content-center">
<div id="carouselExampleIndicators" class="carousel slide col-12 col-md-10 col-lg-8 col-xl-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="padding: 4rem;">
    <div class="carousel-item active login-form-container" data-bs-interval="15000">
        <div>
            <h4 class="text">Training Feature</h4>
            <ul class="text">
              <li class="mb-3">
                <strong class="">New Template:</strong> Create a new workout template with predefined exercises.
              </li>
              <li class="mb-3">
                <strong class="">New Empty Training:</strong> Start a new training session with an empty template to customize.
              </li>
              <li class="mb-3">
                <strong class="">New Exercise:</strong> Create a new exercise in the database.
              </li>
            </ul>
          </div>
    </div>
    <div class="carousel-item login-form-container">
        <div>
            <h4 class="text">Diet Feature</h4>
            <ul class="text">
              <li class="mb-3">
                <strong class="">Day Template:</strong> Create a new diet day template with predefined meals.
              </li>
              <li class="mb-3">
                <strong class="">Custom Meal:</strong> Create a new meal in the database.
              </li>
              <li class="mb-3">
                <strong class="">Custom Food:</strong> Create a new food in the database.
              </li>
            </ul>
          </div>
    </div>
    <div class="carousel-item login-form-container">
        <div>
            <h4 class="text">Sleep Feature</h4>
            <ul class="text">
              <li class="mb-3">
               Keep track of your muscle's recovery and sleep history.
              </li>
              <li class="mb-3">
                Subjective recovery (0 worst - 10 best).
              </li>
              <li class="mb-3">
                Muscle fatigue (0 not fatigued - 10 completely fatigued).
              </li>
              <li class="mb-3">
                Motivation (0 worst - 10 best).
              </li>
            </ul>
          </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>