.login-form-container{
    border-color: white;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 2rem;
}

.error-message{
    background-color: #ff5d5d;
    padding: 0.2rem;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    border-color: #ff3636;
    border-style: solid;
    border-width: 0.2rem;
    margin-top: 0.2rem;
}

.error-message p{
    margin-bottom: 0%;
}