<div class="container mt-2 login-form-container col-10 col-sm-10 col-md-6 col-lg-7 col-xl-7">
  <h1 class="mb-5" style="color: white;">Training</h1>

  <!-- Botones -->
  <div class="row">
    <div class="col-12 col-md mb-3 mb-md-0">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/newTemplate']">+New Template</button>
    </div>
    <div class="col-12 col-md mb-3 mb-md-0">
      <button type="button" class="btn btn-secondary btn-lg w-100" [routerLink]="['/newEmptyTraining']">+New Empty Training</button>
    </div>
    <div class="col-12 col-md">
      <button type="button" class="btn btn-success btn-lg w-100" [routerLink]="['/newExercise']">+New Exercise</button>
    </div>
  </div>

  <!-- Lista de templates -->
  <div *ngFor="let template of templates" class="container-list login-form-container mb-4 p-3">
    <div class="d-flex justify-content-between align-items-center">
      <h2 style="color: white;">{{ template.name }}</h2>
      <button class="btn btn-danger" (click)="deleteTemplate(template)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      </button>
    </div>
    <div *ngFor="let exercise of template.exercises" class="exercise-item mb-2">
      <div class="row d-flex">
        <h4 class="ms-3" style="color: white;">· {{ exercise.name }} </h4>
        @if(exercise.details){
        <h6 class="ms-4" style="color: white;">Details: {{ exercise.details }} </h6>
        }
      </div>
      <!-- <h4 class="ms-3" style="color: white;">· {{ exercise.name }} @if(exercise.details){- {{exercise.details}}}</h4> -->
      <!-- Detalles completos mostrados solo en pantallas medianas y más grandes -->
      <div class="d-none d-md-block">
        <div *ngFor="let serie of exercise.series; let i = index" class="serie-item d-flex align-items-center ms-5">
          <p class="serie-index me-2" style="color: white;">{{ i + 1 }} - </p>
          <p class="serie-content" style="color: white;">Reps: {{ serie.repeticiones }}, Kg: {{ serie.kilos }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
