<div class="container mt-2 login-form-container col-10 col-sm-10 col-md-6 col-lg-7 col-xl-7">
  <h1 class="mb-5" style="color: white;">Training</h1>

  <!-- Botones -->
  <div class="row">
    <div class="col-12 col-md mb-3 mb-md-0">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/newTemplate']">+New Template</button>
    </div>
    <div class="col-12 col-md mb-3 mb-md-0">
      <button type="button" class="btn btn-secondary btn-lg w-100" [routerLink]="['/newEmptyTraining']">+New Empty Training</button>
    </div>
    <div class="col-12 col-md">
      <button type="button" class="btn btn-success btn-lg w-100" [routerLink]="['/newExercise']">+New Exercise</button>
    </div>
  </div>

  <!-- Lista de templates -->
  <div *ngFor="let template of templates" class="container-list login-form-container mb-4 p-3">
    <h2 style="color: white;">{{ template.name }}</h2>
    <div *ngFor="let exercise of template.exercises" class="exercise-item mb-2">
      <h4 class="ms-3" style="color: white;">· {{ exercise.name }}</h4>
      <!-- Detalles completos mostrados solo en pantallas medianas y más grandes -->
      <div class="d-none d-md-block">
        <div *ngFor="let serie of exercise.series; let i = index" class="serie-item d-flex align-items-center ms-5">
          <p class="serie-index me-2" style="color: white;">{{ i + 1 }} - </p>
          <p class="serie-content" style="color: white;">Reps: {{ serie.repeticiones }}, Kg: {{ serie.kilos }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
